<footer class="text-center text-white" style="background-color: rgb(19, 19, 19);">
    <!-- Grid container -->
    <div class="container pt-4">
        <div class="row footer-head">
            <div class="col-lg-3">
                <img src="../../../../assets/big-ramy-logo.svg" alt="big-ramy-logo">
            </div>
            <div class="col-lg-3">
                <h4>Join Our <br><span>Newsetter</span></h4>
            </div>
            <div class="col-lg-6">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="container pt-4">
        <div class="row footer-head">
            <div class="col-lg-4">
                <p class="paraContent" style="max-width: 280px; font-weight: 600; text-align: initial;     color: rgba(255, 255, 255, 0.9);
                        color: rgb(230, 232, 234);">
                    Lorem Ipsum is simply dummy text of the printing and typesett ing industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="col-12 col-lg-2 mt-3">
                <ul class="ulStyles">
                    <li>
                        <a href="/home" class="py-1 d-block" style="font-weight: bolder;">
                            <span class="ion-ios-checkmark-circle-outline mr-2"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/courses" class="py-1 d-block" style="font-weight: bolder;">
                            <span class="ion-ios-checkmark-circle-outline mr-2"></span>
                            Courses
                        </a>
                    </li>
                    <li>
                        <a routerLink="/privacy-policy" class="py-1 d-block" style="font-weight: bolder;">
                            <span class="ion-ios-checkmark-circle-outline mr-2"></span>
                            E-books
                        </a>
                    </li>
                    <li>
                        <a routerLink="/privacy-policy" class="py-1 d-block" style="font-weight: bolder;">
                            <span class="ion-ios-checkmark-circle-outline mr-2"></span>
                            Tournments
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <li>
                    <a routerLink="/privacy-policy" class="py-1 d-block" style="font-weight: bolder;">
                        <span class="ion-ios-checkmark-circle-outline mr-2"></span>
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a routerLink="/faqs" class="py-1 d-block" style="font-weight: bolder;">
                        <span class="ion-ios-checkmark-circle-outline mr-2"></span>
                        FAQs
                    </a>
                </li>
                <li>
                    <a routerLink="/contact" class="py-1 d-block" style="font-weight: bolder;">
                        <span class="ion-ios-checkmark-circle-outline mr-2"></span>
                        Contact Us
                    </a>
                </li>
            </div>

        </div>
    </div>

    <!-- Section: Social media -->
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        2023 LOGO. All Rights Reserved. </div>
    <!-- Copyright -->
</footer>