
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="color: white;">Courses</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="card" (click)="getCourseDetails(course)" *ngFor="let course of coursesList;">
        <img [src]="course?.attributes?.course?.image_url" alt="cheetah">
        <div class="intro">
            <h1>{{course?.attributes?.name}}</h1>
            <p>{{course?.attributes?.course?.description}}</p>
        </div>
    </div>
</div>

